@import "tailwindcss";

/* =========================
   RESET
========================= */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================
   ROOT VARIABLES
========================= */

:root {
  font-size: 12px;

  --color-text: #1a1a1a;
  --color-bg: #fff;
  --color-link: #1a1a1a;
  --color-link-hover: #1a1a1a;

  --page-padding: 1.5rem;
}

/* =========================
   GLOBAL
========================= */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.section {
  --progress: 0;
  perspective: 1200px;
}

.section__images img {
  transform: translateZ(0);
  will-change: transform;
}

.section__media__front {
  transform: scale(0.7);
  filter: blur(10px);
  will-change: transform, filter;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "area-normal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   LOADING STATE
========================= */

@media (scripting: enabled) {
  .loading::before,
  .loading::after {
    content: "";
    position: fixed;
    z-index: 10000;
  }

  .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
  }

  .loading::after {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 1px;
    margin: 0 0 0 -50px;
    background: var(--color-link);
    animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
  }
}

/* =========================
   LOADER ANIMATION
========================= */

@keyframes loaderAnim {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

/* =========================
   LINKS
========================= */

a {
  text-decoration: none;
  color: var(--color-link);
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

a:focus {
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  background: transparent;
}

a:focus-visible {
  outline: 2px solid red;
  background: transparent;
}

/* =========================
   FRAME
========================= */

.frame {
  display: grid;
  z-index: 1000;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
  align-content: start;

  padding: var(--page-padding);

  height: 100vh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto auto;

  grid-template-areas:
    "title title title sponsor"
    "back github archive sponsor";
}

.frame #cdawrap {
  max-width: 400px;
  align-self: start;
  text-align: right;
}

.frame a,
.frame button {
  pointer-events: auto;
}

.frame .frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
}

.frame .frame__back {
  grid-area: back;
  justify-self: start;
}

.frame .frame__archive {
  grid-area: archive;
  justify-self: start;
}

.frame .frame__github {
  grid-area: github;
}

.frame .frame__tags {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.frame .frame__demos {
  grid-area: demos;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* =========================
   SECTION
========================= */

.section {
  position: relative;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  --progress: 0;
}

/* =========================
   SECTION MEDIA
========================= */

.section .section__media {
  position: absolute;
  top: 0;
}